<section class="edit-user" fxLayout fxLayoutAlign="center center">
    <form [formGroup]="userForm" (ngSubmit)="onSubmit()" novalidate>
      <mat-card fxFlex.xs="100%" fxFlex="400px" *ngIf="user">
        <mat-card-title fxLayoutAlign="center">{{ user.username }}</mat-card-title>
        <img mat-card-image [src]="url" alt="Photo of a Shiba Inu" (click)="fileInput.click()">
        <mat-card-content fxLayout="column" fxLayoutAlign="center center">
          <input 
            type='file' 
            (change)="onSelectFile($event)" 
            #fileInput 
            formControlName="image"
            hidden>  
          <mat-form-field class="user-input">
                <input 
                type="text"
                matInput 
                placeholder="Id"
                formControlName="id"
                required>
            </mat-form-field>
            <mat-form-field class="user-input">
              <input 
              type="text"
              matInput 
              placeholder="Username"
              formControlName="username"
              required
              >
            </mat-form-field>
            <mat-form-field class="user-input">
              <input 
              type="email"
              matInput 
              placeholder="E-Mail"
              formControlName="email"
              required>
            </mat-form-field>
            <mat-form-field class="user-input">
              <!--<input matInput placeholder="role" [(ngModel)]="user.role.name">-->
              <mat-select formControlName="role">
                  <mat-option *ngFor="let role of roles" [value]="role.id">{{ role.name }}</mat-option>
              </mat-select>
            </mat-form-field>
        </mat-card-content>
        <mat-card-actions fxLayoutAlign="center">
          <button (click)="goBack()" mat-button>Cancel</button>
          <button type="submit" mat-button [disabled]="userForm.invalid">Save</button>
        </mat-card-actions>
      </mat-card>
    </form>
</section>
  